/* Normalizers starts */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color:var(--body-color) ;
}

main {
    margin: 0;
    padding: 0%;
}

html {
    box-sizing: border-box;
}

*,*::after,*::before {
    box-sizing: inherit;
}

:root {
    --link-color:rgb(255, 253, 253);
    --nav-theme:rgb(129, 23, 27);
    --body-color:#dbd2e0;
    --sec-color:rgb(1, 38, 34);
}

/* Normalisers ends */

/* Styling navigation section starts */

header {
    margin: 0;
    position: fixed;
    width: 100%;
}

#navigation-section {
    margin: 0;
    display: block;
}


#navbar {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    background-color: var(--nav-theme);
    z-index: 3;
    margin-bottom: 0;
    padding: 0;
}


#nav-links {
    display: flex;
    justify-content: right;
    width:calc(100% / 3);
    padding: 0;
}

.navlink {
    margin: 0;
    font-size: 20px;
    text-decoration: none;
    font-weight: 300;
    color: var(--link-color);
    padding:20px 30px;
}

.navlink:hover {
    background-color: rgb(72, 86, 150);
    height: 100%;
}

@media only screen and (max-width:600px){
    #nav-links {
        width:calc(100%/2);
    }
}

/* Navigation section ends */

/* Welcome section starts */

#welcome-section {
    margin-top: 0;
    height: 100vh;
    background: linear-gradient(62deg, var(--sec-color) 0%, rgb(5, 4, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#welcome-section h1 {
    text-align: center;
    margin: 0;
    color: var(--link-color);
    font-size: 40px;
    font-family: 'Inconsolata', monospace;
}

#welcome-section #name {
    font-weight: 700;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-bottom: 0;
}

#subtitle {
    color:var(--link-color);
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    margin-top: 0;
    text-align: center;
}

/* Welcome section ends */

/* Projects section starts */

#projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
}

h1.project-title {
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 2px solid black;
    outline:2px solid transparent ;
    width: inherit;
    padding-left: 0;
    color: var(--sec-color);
    text-align: center;
    margin:50px  auto;
}

.project-parent {
    align-items: center;
}

.project-tiles {
    display: grid;
    grid-template-columns: repeat(2,calc(90% / 2));
    margin:0 5%;
    gap: 5% 8%;
    grid-template-rows: auto;
    width: 90%;
    justify-items: center;
    place-items:center;
}

.project-tile {
    width: calc(100%);
    background-color: var(--sec-color);
    height: 100%;
    border: 1px solid rgb(5, 4, 1);
    padding: 0;
    text-align: center;
    align-items: center;
}

h2 {
    font-weight:800;
    font-family: 'Inconsolata', monospace;
    vertical-align: middle;
    margin: 0;
    padding: 20px;
}

@media only screen and (max-width:600px) {

    h2 {
        font-size: 17px;
        display: inline;
        margin:10px 0;
        padding: 0;
    }
    h1.project-title {
        font-size: 30px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width:400px) {
    h1.project-title {
        font-size: 25px;
    }
}


a.project {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.code {
    transition: color .3s ease-out;
    color: transparent;
}

.project:hover .code{
    color: orange; 
}

/* Projects section ends */

/* Contact section starts */

#contact {
    margin-top: 100px;
    margin-bottom: 0;
    background-color: var(--sec-color);
    bottom: 0;
    position: relative;
    height: 90vh;
    width:inherit ;
}

.contact {
    width: 80%;
    text-align: center;
    color: white;
    margin: 0 auto;
    margin-bottom: 0;
    transform: scale(1);
    transition: transform .2s ease-in-out;
    max-width: 100%;
}

.contact:hover {
    transform: scale(1.1);
}

#quote {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 60px;
}

.quote-subtitle {
    font-family:'Inconsolata', monospace;
    color: white;
    font-size: 30px;
    font-weight: 500;
}

#social-links {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    max-width: 60vw;
    margin: 25vh  auto;
    align-content: space-between;
}

#social-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 25px;
    text-shadow: 3px 3px black;
    margin-top:0;
    transition: margin-top .3s ease-out ;
    max-width: calc(100%/2);
}

#social-links a:hover {
    margin-top:10px;
}

@media (max-width:600px) {
    #quote {
        font-size: 40px;
    }

    .quote-subtitle {
        font-size: 15px;
    }

    #social-links {
        font-size:10px;
        max-width: 100%;
        flex-wrap: wrap;
    }
}

/* Contact section ends */